@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

$primary-font: 'Poppins';

$fs-body: 14px;
$fs-body-lg: 16px;

$fs-h1: 40px;
$fs-h2: 20px;
$fs-h3: 16px;
