.fs-body-lg {
    font-size:$fs-body-lg;
}
.fs-h1 {
    font-size:$fs-h1;    
}
.fs-h2 {
    font-size:$fs-h2;
}
.fs-h3 {
    font-size:$fs-h3;
}

//colors
.txt-white {
    color:$white;
}
.txt-orange {
    color:$orange;
}
.txt-purple {
    color:$purple;
}
.txt-gray {
    color:$gray
}
.txt-gray-dk {
    color:$gray-dk;
}